@import "index.scss";

nav {
  text-align: center;
  background: $gr-color;
  background: linear-gradient(
    90deg,
    $gr-color 0%,
    $gr-color-2 49%,
    $gr-color 100%
  );
  border-bottom-right-radius: $bd-radius-god;
  border-bottom-left-radius: $bd-radius-god;
  font-family: $serrat-font;
  font-size: $small-font-size;
  position: relative;
  z-index: 999;

  ul {
    padding: $nav-padding;
    margin: 0;
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      padding: $nav-padding-2;

      .nav-icon {
        font-size: $nav-icon-size;
      }

      a {
        color: $white-color;
        text-decoration: none;
        font-size: $tiny-font-size;

        .dropdown {
          .dropdown-content {
            display: block;
            position: absolute;
            left: 85%;
            z-index:998;
            background: $gr-color;
            background: $gradient-2;
            top: 3.8rem;
            height: auto;
            border-radius: $bd-radius-tiny;
            text-align: left;
            width: 120px;
            padding: 15px;
            box-shadow: $box-shadow-3;

            .dropdown-item {
              margin-left: -15px;
              margin-top: 10px;

              .dropdown-item-link {
                color: $white-color;
                transition: .2s all;
              }

              .dropdown-item-link:hover{
                color: $bg-color;
              }
            }
          }
        }
      }
    }

    li:hover {
      cursor: pointer;
    }
  }
}
